---
import Layout from '@/layouts/Layout.astro';
import Principal from '@/components/Principal.astro';
---

<Layout title="Frontend Amitkaill | Blog preview card">
	<main class="bg-White rounded-[1.315rem] shadow-am1 shadow-Black mx-auto my-48 w-10/12 h-auto p-5">	
	  <Principal/>
	</main>
</Layout>


	