---

---
<picture class="my-4 mx-0 w-11/12 me-3"><img class="rounded-2xl" src="illustration-article.svg" alt="image main"></picture>
<h2 class="bg-Yellow max-w-fit px-3 py-1 rounded-md text-center text-sm mb-3 font-extrabold not-italic text-Black">Learning</h2>
<p class="text-Black text-xs not-italic py-1">Published 21 Dec 2023</p>
<h1 class="text-Black text-xl font-bold py-2 me-4 not-italic">HTML & CSS foundations</h1>
<span class="not-italic font-normal text-Grey text-[.75rem] leading-1">These languages are the backbone of every website, defining structure, content, and presentation.</span>
<div class="flex items-center justify-inline pt-4 flex-grow-2">
	<img class="mr-4 size-1/12" src="image-avatar.webp" alt="perfil image">
	<h2 class="text-xs font-extrabold">Greg Hooper</h2>
</div>